In [1]:
dfc = sqlContext.read.load('file:////home/cloudera/Downloads/Q2_INPUT.csv', 
                          format='com.databricks.spark.csv', 
                          header='true', 
                          inferSchema='true')

In [13]:
dfc.printSchema()

root
 |-- HashTag: string (nullable = true)
 |-- Timestamp: double (nullable = true)

In [39]:
dfc.registerAsTable('train_table')
df1 = sqlContext.sql('SELECT HashTag, (MAX(Timestamp) - MIN(Timestamp))/60 AS Life_Time FROM train_table GROUP BY HashTag')
df1.registerAsTable('train_table7')
df1 = sqlContext.sql('SELECT * FROM train_table7 WHERE Life_Time>0')

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

In [37]:
df1.count()

3889

In [16]:
dfc.registerAsTable('train_table')
df2 = sqlContext.sql('SELECT HashTag, COUNT(*) AS Occurance FROM train_table GROUP BY HashTag ORDER BY Occurance DESC')

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

In [45]:
df2.registerAsTable('train_table12')
df1.registerAsTable('train_table123')
df3 = sqlContext.sql('SELECT train_table12.HashTag, Life_Time, Occurance, Life_Time / Occurance AS RATE_OF_OCCURANCE FROM train_table12 JOIN train_table123 ON train_table12.HashTag = train_table123.HashTag WHERE Life_Time > 600 ORDER BY RATE_OF_OCCURANCE')

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

In [47]:
df3.show()

+--------------------+-----------------+---------+-----------------+
|             HashTag|        Life_Time|Occurance|RATE_OF_OCCURANCE|
+--------------------+-----------------+---------+-----------------+
|    beingsinglemeans|600.0006178021431|       61|9.836075701674478|
|           vgmas2017|600.0045898834865|       61|9.836140817762073|
|  nationalpretzelday|600.0070591688157|       61|9.836181297849437|
|      bostonmarathon|600.0118890841802|       61|9.836260476789839|
|mujerespatriasobe...|609.9984772165616|       62|9.838685116396155|
|            riphabbo|609.9998202999433|       62|9.838706779031343|
|          soufeiomas|610.0006432175636|       62|9.838720051896187|
|       brasilemgreve|610.0021240671475|       62|9.838743936566896|
|        ufcnashville|610.0050924658775|       62|9.838791813965766|
|enlavidanodebefaltar|610.0119982163111|       62|9.838903197037276|
|         emillyjudas|619.9956872185071|       63|9.841201384420748|
|             14abril|620.0043028513591|       63|9.841338140497763|
| meuprimeirobullying|620.0056519667307|       63|9.841359555027472|
|    worldheritageday|620.0056820829709|       63| 9.84136003306303|
|    australianvalues|620.0092298150063|       63|9.841416346269941|
|               bbmas|620.0130271991094|       63|9.841476622208086|
|      jesusdenazaret|629.9948204835256|       64|9.843669070055087|
|        lavidaespara|629.9989532987277|       64| 9.84373364529262|
| misemanacomienzacon|630.0013357480367|       64|9.843770871063073|
|            taxmarch|630.0108617504437|       64|9.843919714850683|
+--------------------+-----------------+---------+-----------------+
only showing top 20 rows