In [1]:
dfc = sqlContext.read.load('file:////home/cloudera/Documents/words_counts.csv', 
                          format='com.databricks.spark.csv', 
                          header='true', 
                          inferSchema='true')

In [2]:
dfc.show()

+--------------------+-----+
|            HashTags|Count|
+--------------------+-----+
|                 fre|    1|
|          lesmoutins|    1|
|             20h2017|    1|
|            fran�ais|    1|
|         immigration|    1|
|            postureo|    1|
|             refugee|    1|
|            debattf1|    1|
|            wauquier|    1|
|                oups|    1|
|     jeanlouisborloo|    1|
|            criminel|    1|
|        pr�sidencefn|    1|
|        choisirlafra|    1|
|         islamisevil|    1|
|                fall|    1|
|                 dlr|    1|
|          vivefrance|    1|
|electionpresident...|    1|
|             zemmour|    1|
+--------------------+-----+
only showing top 20 rows

In [3]:
dfc.registerAsTable('train1_table')
dfd = sqlContext.sql('SELECT * FROM train1_table ORDER BY Count DESC LIMIT 50')

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

In [4]:
df = sqlContext.read.load('file:////home/cloudera/Documents/ht_tz1.csv', 
                          format='com.databricks.spark.csv', 
                          header='true', 
                          inferSchema='true')

In [15]:
df.show()

+---------------+--------------------+
|       HashTags|           TimeZones|
+---------------+--------------------+
|        muslims|Atlantic Time (Ca...|
|          fexit|Central Time (US ...|
|            fre|Pacific Time (US ...|
|   choosefrance|Central Time (US ...|
|     lesmoutins|               Paris|
|     democratie|   Paris;  Amsterdam|
|        20h2017|              Athens|
|       fran�ais|           Greenland|
|    immigration|               Paris|
|presidentielle2|Ljubljana;  Hawai...|
|       postureo|              Madrid|
|        refugee|                Bern|
|       debattf1|              Athens|
|           cost|Eastern Time (US ...|
|       wauquier|               Paris|
|           oups|Pacific Time (US ...|
|jeanlouisborloo|              Athens|
|       criminel|                Bern|
|       imtheone|Eastern Time (US ...|
|         fachos|Atlantic Time (Ca...|
+---------------+--------------------+
only showing top 20 rows

In [6]:
dfd.registerAsTable('train_table123')
df.registerAsTable('train_table12')
df1 = sqlContext.sql('SELECT train_table123.HashTags, TimeZones FROM train_table123 JOIN train_table12 ON train_table12.HashTags = train_table123.HashTags')
df1.count()

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

50

In [7]:
dfcd = sqlContext.read.load('file:////home/cloudera/Documents/INPUT.csv', 
                          format='com.databricks.spark.csv', 
                          header='true', 
                          inferSchema='true')

In [8]:
dfcd.show()

+-------------+--------------------+
|     HashTags|           TimeZones|
+-------------+--------------------+
|        lepen|           Amsterdam|
|         jevo|           Amsterdam|
|    explicite|              Athens|
|       runoff|Central Time (US ...|
|          mfa|Central Time (US ...|
|        lepen|Central Time (US ...|
|         onpc|Pacific Time (US ...|
|     insoumis|Pacific Time (US ...|
|sansmoile7mai|               Paris|
|        hamon|Pacific Time (US ...|
|sansmoile7mai|Pacific Time (US ...|
|   marine2017|Eastern Time (US ...|
|  marinelepen|Eastern Time (US ...|
|   elysee2017|Eastern Time (US ...|
|       mlpnda|Eastern Time (US ...|
|         e1we|Eastern Time (US ...|
|        bfmtv|               Paris|
|       macron|               Paris|
|        lepen|              Athens|
|  marinelepen|Pacific Time (US ...|
+-------------+--------------------+
only showing top 20 rows

In [9]:
dfcd.registerAsTable('train_tableA')
dfs = sqlContext.sql('SELECT HashTags, COUNT(*) AS COUNT_VAL FROM train_tableA GROUP BY HashTags ORDER BY COUNT_VAL DESC')
dfs.registerAsTable('train_tableB')
#dfx = sqlContext.sql('SELECT * FROM train_tableA ')

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

In [10]:
df_res = sqlContext.sql('SELECT TimeZones, HashTags, count(*) AS COUNT_VAL FROM train_tableA GROUP BY HashTags, TimeZones')
df_res.show()

+--------------------+-------------+---------+
|           TimeZones|     HashTags|COUNT_VAL|
+--------------------+-------------+---------+
|               Paris|  marinelepen|      314|
|           Hong Kong|       macron|        2|
|              Athens|          rdl|        1|
|Eastern Time (US ...|        hamon|        1|
|Pacific Time (US ...|           rt|        3|
|              Sydney|        china|       15|
|        Mid-Atlantic|           fn|        2|
|           Amsterdam| papefrancois|        1|
|               Paris|      oradour|       17|
|            Brussels| infopunaises|        1|
|               Paris|  7maisansmoi|        2|
|Eastern Time (US ...|   jevotepour|        3|
|Mountain Time (US...|       merkel|        3|
|            Istanbul|   france2017|        1|
|              Athens|     gardanne|        7|
|              Athens|          lci|        3|
|           Greenland|morandiniblog|        1|
|Pacific Time (US ...|         cpol|        3|
|Pacific Time (US ...|        grece|        1|
|           Greenland|          tf1|       19|
+--------------------+-------------+---------+
only showing top 20 rows

In [11]:
df_res.registerAsTable('train_tableABC')
df_r = sqlContext.sql('SELECT TimeZones, MAX(COUNT_VAL) AS COUNT_OF_TOP_TRENDING_HASHTAG FROM train_tableABC GROUP BY TimeZones ORDER BY COUNT_OF_TOP_TRENDING_HASHTAG DESC')
df_r.show()

/usr/lib/spark/python/pyspark/sql/dataframe.py:142: UserWarning: Use registerTempTable instead of registerAsTable.
  warnings.warn("Use registerTempTable instead of registerAsTable.")

+--------------------+-----------------------------+
|           TimeZones|COUNT_OF_TOP_TRENDING_HASHTAG|
+--------------------+-----------------------------+
|               Paris|                          959|
|Pacific Time (US ...|                          764|
|              Athens|                          260|
|           Amsterdam|                          207|
|Eastern Time (US ...|                          161|
|              London|                          110|
|           Greenland|                          104|
|Central Time (US ...|                           85|
|           Ljubljana|                           50|
|                 UTC|                           45|
|              Hawaii|                           44|
|Atlantic Time (Ca...|                           40|
|            Brussels|                           34|
|            Belgrade|                           25|
|Mountain Time (US...|                           24|
|                Rome|                           22|
|                Bern|                           22|
|              Sydney|                           17|
|          Casablanca|                           16|
|             Arizona|                           15|
+--------------------+-----------------------------+
only showing top 20 rows

In [12]:
df_r.count()

130

In [16]:
df.coalesce(1).write.format("com.databricks.spark.csv").option("header", "true").save("VIS.csv")

In [14]:
dfcd.coalesce(1).write.format("com.databricks.spark.csv").option("header", "true").save("TASK3_OP_SUP123.csv")